.affiliate-iconlist-wrapper {
    margin: 30px 0px 30px 0px;

    .affiliate-d-table {
        display: table;
        width: 100%;
    }
    .affiliate-iconlist-inner {
        padding: 10px;
    }

    .affiliate-list-item,
    .affiliate-list-img-item {
        padding: 2px 20px;
        page-break-inside: avoid;
        break-inside: avoid;
    }

    .affiliate-list {
        .affiliate-list-img {
            padding-right: 10px;

            img {
                width: 30px;
                max-width: 30px;
            }
        }
    }
    .aff-list-isshow-image{
        .affiliate-block-advanced-list {
            .aff-list-image {
                list-style: none;
                padding: 0;
                margin: 0;
                > li{
                    padding-bottom: 10px;
                    &::before{
                        content: '';
                        display: inline-block;
                        height: 25px;
                        width: 25px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        vertical-align: middle;
                        margin-right:10px;
                    } 
                }
            }
        }
    }
    .aff-list-isshow-icon{
        .affiliate-block-advanced-list {
            .affiliate-action-button {
                padding: 5px 15px;
                margin-top: 15px;
                border-radius: 4px;
                background: #f0f1f3;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                word-break: break-word;
                >li {
                    position: relative;
                    margin: 0;
                    display: inline-block;
                    width:100%;
                    padding-left: 27px;
                    transition: color 400ms, background-color 400ms, border-color 400ms, box-shadow 400ms;
                    padding-bottom: 10px;
                    &::before {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        transition: color 400ms, background-color 400ms;
                        padding-right: 10px;
                    }
                    // &::after {
                    //     position: absolute;
                    //     left:0;
                    // }

                    // >span,
                    // >div {
                    //     display: inline-block;
                    // }

                    .affiliate-action-remove {
                        display: none;
                        width: 18px;
                        height: 18px;
                        line-height: 20px;
                        text-align: center;
                        background: rgba(0, 0, 0, .8);
                        color: #fff;
                        border-radius: 10px;
                        position: absolute;
                        right: 16px;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;

                        &.alignment-left {
                            right: auto;
                            left: 0;
                        }
                    }

                    &:hover {
                        .affiliate-action-remove {
                            display: block;
                        }
                    }
                }

                [contenteditable=true]:empty:before {
                    content: attr(placeholder);
                    color: gray;
                    padding: 0px 5px 0px 5px;
                    display: block; 
                }

                .affiliate-action-button {
                    margin-top: 15px;
                }
            }


            &.affiliate-alignment-left,
            &.affiliate-alignment-center {
                .affiliate-list {
                    >li::after {
                        display: none;
                    }
                }
            }

            &.affiliate-alignment-center {
                .affiliate-list {
                    >li {
                        justify-content: center;
                    }
                }
            }

            &.affiliate-alignment-right {
                .affiliate-list {
                    >li {
                        justify-content: flex-end;

                        &::before {
                            display: none;
                        }
                    }
                }
            }

            ul {
                .affiliate-list-bullet-check {

                    &::before {
                        content: "\f00c";
                    }
                }

                .affiliate-list-bullet-check-square {

                    &::before {
                        content: "\f14a";
                    }
                }

                .affiliate-list-bullet-check-square-outline {

                    &::before {
                        content: "\f14a";
                        font-weight: 400;
                    }
                }

                .affiliate-list-bullet-check-double {

                    &::before {
                        content: "\f560";
                    }
                }

                .affiliate-list-bullet-check-circle {

                    &::before {
                        content: "\f058";
                    }
                }

                .affiliate-list-bullet-check-circle-outline {

                    &::before {
                        content: "\f058";
                        font-weight: 400;
                    }
                }

                .affiliate-list-bullet-square {

                    &::before {
                        content: "\f0c8";
                    }
                }

                .affiliate-list-bullet-square-outline {

                    &::before {
                        content: "\f0c8";
                        font-weight: 400;
                    }
                }

                .affiliate-list-bullet-circle {

                    &::before {
                        content: "\f111";
                    }
                }

                .affiliate-list-bullet-circle-outline {

                    &::before {
                        content: "\f111";
                        font-weight: 400;
                    }
                }

                .affiliate-list-bullet-arrow-right {

                    &::before {
                        content: "\f061";
                    }
                }

                .affiliate-list-bullet-arrow-left {

                    &::before {
                        content: "\f060";
                    }
                }

                .affiliate-list-bullet-arrow-circle-right {

                    &::before {
                        content: "\f0a9";
                    }
                }

                .affiliate-list-bullet-arrow-circle-left {

                    &::before {
                        content: "\f0a8";
                    }
                }

                .affiliate-list-bullet-arrow-alt-circle-right {

                    &::before {
                        content: "\f35a";
                        font-weight: 400;
                    }
                }

                .affiliate-list-bullet-arrow-alt-circle-left {

                    &::before {
                        content: "\f359";
                        font-weight: 400;
                    }
                }

                .affiliate-list-bullet-long-arrow-alt-right {

                    &::before {
                        content: "\f30b";
                    }
                }

                .affiliate-list-bullet-long-arrow-alt-left {

                    &::before {
                        content: "\f30a";
                    }
                }

                .affiliate-list-bullet-chevron-right {

                    &::before {
                        content: "\f054";
                    }
                }

                .affiliate-list-bullet-chevron-left {

                    &::before {
                        content: "\f053";
                    }
                }

                .affiliate-list-bullet-angle-right {

                    &::before {
                        content: "\f105";
                    }
                }

                .affiliate-list-bullet-angle-left {

                    &::before {
                        content: "\f104";
                    }
                }

                .affiliate-list-bullet-star {

                    &::before {
                        content: "\f005";
                    }
                }

                .affiliate-list-bullet-star-outline {

                    &::before {
                        content: "\f005";
                        font-weight: 400;
                    }
                }

                .affiliate-list-bullet-windows-close-fill {

                    &::before {
                        content: "\f410";
                    }
                }

                .affiliate-list-bullet-window-close-simple {

                    &::before {
                        content: "\f410";
                        font-weight: 400;
                    }
                }

                .affiliate-list-bullet-ban {

                    &::before {
                        content: "\f05e";
                    }
                }

                .affiliate-list-bullet-times {

                    &::before {
                        content: "\f00d";
                    }
                }

                .affiliate-list-bullet-times-circle {

                    &::before {
                        content: "\f057";
                    }
                }

                .affiliate-list-bullet-times-circle-simple {

                    &::before {
                        content: "\f057";
                        font-weight: 400;
                    }
                }

                .affiliate-list-bullet-dot-circle-fill {

                    &::before {
                        content: "\f192";
                    }
                }

                .affiliate-list-bullet-dot-circle-simple {

                    &::before {
                        content: "\f192";
                        font-weight: 400;
                    }
                }

                .affiliate-list-bullet-thumb-up-fill {

                    &::before {
                        content: "\f164";
                    }
                }

                .affiliate-list-bullet-thumb-up-simple {

                    &::before {
                        content: "\f164";
                        font-weight: 400;
                    }
                }

                .affiliate-list-bullet-thumb-down-fill {

                    &::before {
                        content: "\f165";
                    }
                }

                .affiliate-list-bullet-thumb-down-simple {

                    &::before {
                        content: "\f165";
                        font-weight: 400;
                    }
                }
            }


            ul {
                counter-reset: affiliate-ol-counter;

                >li {
                    counter-increment: affiliate-ol-counter;

                    &::before {
                        text-align: center;
                        content: counter(affiliate-ol-counter);
                    }
                }
            }
        }
    }

    
     @media(max-width:767px) {
        .affiliate-block-advanced-list {
            display: block;
            width: 100%;
            margin-bottom: 15px;
            
        }
    }
    
}